.row
  .col-xs-12.col-sm-6
    %p とは、お手持ちのスマートフォンを使って、ゆりえと <a href="http://www.justyo.co/">Yo</a> でコミュニケーションできる、これまでにない新感覚サービスです。
    %h2 はじめかた
    %p 利用前に <a href="/terms.html">利用規約</a> をご確認ください。
    %p まず、お使いのスマートフォンに Yo をインストールします。
    %p
      = link_to icon('apple', 'iOS'), 'https://itunes.apple.com/app/Yo./id834335592?mt=8', class: 'btn btn-info'
      = link_to icon('android', 'Android'), 'https://play.google.com/store/apps/details?id=com.justyo', class: 'btn btn-info'
      = link_to icon('windows', 'Windows'), 'http://www.windowsphone.com/en-us/store/app/just-yo/5653a21d-3739-4d12-ab82-b389b06ffae9', class: 'btn btn-info'
    %p アプリから SIGNUP したら、 YURIECHAN に Yo を送信します。
    %p= link_to icon('stop','YURIECHAN'), 'http://justyo.co/YURIECHAN', class: 'btn btn-yo'
    %p ゆりえが起きていれば、しばらくすると返事があります。 Yo のコミュニケーションを通して仲良くなっていきましょう！　最初はあまり来ないかもしれませんが、仲良くなってくると……。
    %h2 ご意見ご感想
    %p サービスが気に入った、気に入らなかった、ご意見やご感想などございましたら、作者に Yo を送ってください（メールや Twitter でも大丈夫です）。
    %p
      = link_to icon('stop','YOUCUNE'), 'http://justyo.co/YOUCUNE', class: 'btn btn-yo'
      = link_to icon('envelope','Mail'), 'mailto:support@yurie.sexy', class: 'btn btn-info'
      = link_to icon('twitter','Twitter'), 'https://twitter.com/youcune', class: 'btn btn-info'
  #profile-panel.col-xs-12
    %h2 ゆりえ (21)
    %ul.list-unstyled
      %li 弥生大学　社会学部　3回生
      %li おもしろい iPhone アプリを探すのが趣味
      %li 日本中の水族館をめぐるのが夢
